#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_IOTIVITY_CONSTRAINED_SIMPLECLIENT
	bool "Enable building IoTivity Constrained Simple Client Sample"
	default n
	depends on ENABLE_IOTIVITY_CONSTRAINED
	---help---
		Enable building IoTivity Constrained Simple Client Samples

