#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if DRIVERS_WIRELESS

	if ARCH_CHIP_STM32L4
		source drivers/wireless/brcm/Kconfig
	endif

	if ARCH_CHIP_S5J
		source drivers/wireless/scsc/Kconfig
	endif

endif # DRIVERS_WIRELESS
